<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>
</head>
<body>
<br><b>
<center><h2>H1N1</h2></center>
<div class="row">
  <div class="column">
    <div class="card">
      <h3> Symptoms</h3><br><br>
     <p>
      The signs and symptoms of H1N1 flu are similar to those of infections caused by other flu strains and can include:<br><br>

Fever, but not always<br>
Chills<br>
Cough<br>
Sore throat<br>
Runny or stuffy nose<br>
Watery, red eyes<br>
Body aches<br>
Headache<br>
Fatigue<br>
Diarrhea<br>
Nausea and vomiting<br>
Flu symptoms develop about one to three days after you're exposed to the virus.<br>
     </p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Prevention</h3><br>
     <p>

Stay home if you're sick. 
<br>If you have the flu, you can give it to others.<br>
Wash your hands thoroughly and frequently.<br> Use soap and water, or if they're unavailable, use an alcohol-based hand sanitizer.<br>
Cover your coughs and sneezes.<br>
Avoid touching your eyes, nose and mouth.<br>
Clean surfaces.Regularly clean often-touched surfaces to prevent spread of infection from touching a surface with the virus on it and then your face.<br>
Avoid contact.<br>
Stay home if you're sick. If you have the flu, you can give it to others. Stay home for at least 24 hours after your fever is gone.<br>
Wash your hands thoroughly and frequently. Use soap and water, or if they're unavailable, use an alcohol-based hand sanitizer.<br>


     </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3> About H1N1 </h3><br><br>
      <p><br>
     Swine flu, also known as the H1N1 virus, is a relatively new strain of an influenza virus that causes symptoms similar to the regular flu.<br> It originated in pigs but is spread primarily from person to person.<br>

Swine flu made headlines in 2009 when it was first discovered in humans and became a pandemic.<br> Pandemics are contagious diseases affecting people throughout the world or on multiple continents at the same time.<br>Like other strains of the flu, H1N1 is highly contagious, allowing it to spread quickly from person to person.<br> A simple sneeze can cause thousands of germs to spread through the air. The virus can linger on tables and surface areas like door knobs, waiting to be picked up.


      </p>
  
</div>

</body>
</html>