<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>
</head>
<body>
<br><b>
<center><h2> Polio</h2></center>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>
     Symptoms</h3><br>
   <p>
Most people who get infected with poliovirus (about 72 out of 100) will not have any visible symptoms.<br>
 symptoms that may include:
Sore throat<br>
Fever<br>
Tiredness<br>
Nausea<br>
Headache<br>
Stomach pain<br>
These symptoms usually last 2 to 5 days, then go away on their own.<br>
A smaller proportion of people with poliovirus infection will develop other, more serious symptoms that affect the brain and spinal cord:<br>

Paresthesia (feeling of pins and needles in the legs)<br>
Meningitis (infection of the covering of the spinal cord and/or brain) <br>
Paralysis (can’t move parts of the body) or weakness in the arms, legs, or both.<br>
</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Prevention</h3><br>
      <p><br>
       There are two types of vaccine that can prevent polio:
<br>
Inactivated poliovirus vaccine (IPV) given as an injection in the leg or arm, depending on the patient’s age. Only IPV has been used in the United States since 2000.<br>

Polio vaccine protects children by preparing their bodies to fight the poliovirus.<br> Almost all children (99 children out of 100) who get all the recommended doses of the inactivated polio vaccine will be protected from polio.<br>
 ensuring children are vaccinated both during
polio campaigns and during on-going
immunization activities.<br> report any children who have missed polio
vaccination to health staff and community
volunteers.<br> tell a friend or neighbour about ongoing
polio campaigns and importance of routine
immunizations.<br> report any suspected symptoms of polio, for
example sudden weakness of limbs, sudden
inability to walk.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3> About Polio </h3><br><br>
      <p>
      Poliomyelitis (polio) is a highly infectious disease
that is caused when the polio virus invades the
nervous system of an infected person. Polio can
cause paralysis and even death.<br>
<b>Who is most at risk for polio?</b><br>
Poliovirus usually affects children under 5 years of
age who are unvaccinated or under-vaccinated. The
virus can also affect or be carried by adolescents
and adults.<br>
The child or individual suspected of polio may
complain of sudden onset of weakness of arms
and/or legs.<br>There is no cure for polio. The disease can severely
paralyze, or even kill, an infected child.
Polio can be prevented by immunizing a child with
approrpiate vaccination. <br>There are currently two
effective polio vaccines, the inactivated poliovirus
vaccine (IPV) and the live attenuated oral polio
vaccine (OPV).
      </p>
  
</div>

</body>
</html>